#big {
    width: 400px;
    height: 100px;
    background: green;
}

#big>div {
    width: 804px;
    height: 100px;
}

.header {
    width: 400px;
    height: 100px;
    background: linear-gradient(90deg, #0af, #0085ff);
    border: 1px solid #f4f4f4;
    float: left;
}

.header div {
    height: 50px;
    padding: 5px;
}

.header p {
    color: white;
    font-size: 18px;
    width: 100%;
    height: 40px;
    margin: 0;
    line-height: 40px;
    padding: 0 5px;
}

.header input {
    height: 30px;
    width: 300px;
    text-align: center;
    outline: 0;
    line-height: 30px;
}

.header .classA input {
    width: 380px;

}

.header .classB {
    background: #fff;
    line-height: 45px;
}

.header .classB span {
    display: inline-block;
    width: 60px;
    height: 36px;
    /* background: red; */
    vertical-align: middle;
    line-height: 36px;
}

.header .classB input {
    display: inline-block;
    text-align: left;
    padding-left: 5px;
    background: #f2f2f2;
    color: #999;
    vertical-align: middle;
}