/*(1)清除默认样式*/
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input {
    margin: 0;
    padding: 0;
}

.detailstext img {
    width: 100% !important;
    padding: 0 !important;
    display: block !important;
}

.van-grid-item__icon {
    font-size: .84375rem !important;
}

.van-tabs__line {
    width: 0.46875rem !important;
    height: 2px !important;
}

.van-index-anchor {
    line-height: 44px !important;
}

.vell-ell {
    padding: 10px 10px 10px 0px !important;
}





/*详情页头部选项卡 */
.van-tabs--line .van-tabs__wrap {
    height: 1.25rem !important;
}

.van-tabs__nav {
    padding: 0 92px 15px 48px !important;
}


/* .van-overlay {
    position: static !important;
    width: 100% !important;
    height: 0px !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
} */

.van-image-preview {
    top: 47px !important;
    height: 375px !important;
    position: static !important;
}

.van-image-preview__index {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background: rgba(0, 0, 0, 0.2) !important;
    top: 368px !important;
    left: 90% !important;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center !important;
    line-height: 40px !important;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

/*去掉input等聚焦时的蓝色边框*/
fieldset,
img,
input,
button {
    border: 0 none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul,
li,
ol {
    list-style: none;
}

select,
input {
    vertical-align: middle;
}

/*防止拖动*/
textarea {
    resize: none;
}

/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
/*  当a标签嵌套img,在IE6里会出现蓝色边框 方法：border:0 none;*/
img {
    border: 0 none;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
}



/*2.添加公共样式*/
/*body {
    font:12px Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff;
}*/

/*清除浮动（不管）*/
.clearfix:before,
.clearfix:after {
    /*清楚浮动*/
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

/*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1em;
}

s,
i,
em {
    font-style: normal;
    text-decoration: none;
}


/*公共类*/
.con {
    /*内容、版心 提取 */
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ac {
    text-align: center;
}

.hide {
    display: none;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}